body {
	margin: 0;
	padding: 0;
}

.topbar {
	height: 59px;
	background-color: #f1f1f1;
	border-bottom: 1px solid #e4e4e4
}

.topbar img {
	position: fixed;
	top: 15px;
	left: 15px;
}

.box {
	position: fixed;
	top: 9px;
	left: 126px;
	border: 1px solid #d9d9d9;
	width: 608px;
	padding: 9px 10px 11px 9px;
	font-size: 16px;
}

.topbar input:focus {
	outline-style: none;
	box-shadow: 0 0 0px;

}

.box:hover {
	border: 1px solid #b9b9b9;

}

.box:focus {
	border: 1px solid #4285f4;
}

#mic {
	position: fixed;
	display: inline-block;
	left: 688px;
	top: 19px;
}

#search {
	position: fixed;
	display: inline-block;
	left: 715px;
	top: 9px;
	height: 40px;
	width: 40px;
	background-color: #4285f4;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
	background-clip: padding-box;

}

#search:hover {
	background-color: #3b78e7;
}